$white: hsl(115, 100%, 100%);
$cyan-1: hsl(184, 90%, 17%);
$cyan-2: hsl(184, 84%, 25%);
$cyan-3: hsl(185, 81%, 29%);
$cyan-4: hsl(184, 77%, 34%);
$cyan-5: hsl(185, 62%, 45%);
$cyan-6: hsl(185, 58%, 50%);
$cyan-7: hsl(184, 65%, 59%);
$cyan-8: hsl(184, 81%, 74%);
$cyan-9: hsl(184, 93%, 87%);
$cyan-10: hsl(186, 100%, 94%);
$blue-grey-1: hsl(209, 61%, 16%);
$blue-grey-2: hsl(211, 39%, 23%);
$blue-grey-3: hsl(210, 34%, 30%);
$blue-grey-4: hsl(210, 28%, 39%);
$blue-grey-5: hsl(211, 22%, 49%);
$blue-grey-6: hsl(210, 23%, 60%);
$blue-grey-7: hsl(211, 27%, 70%);
$blue-grey-8: hsl(211, 31%, 80%);
$blue-grey-9: hsl(212, 35%, 89%);
$blue-grey-10: hsl(210, 36%, 96%);
