@import 'color';

/* Service Worker Toast Message */

#worker {
  bottom: 1rem;
  position: fixed;
  width: 100%;
}

#worker > *:first-child {
  margin: 0 auto;
}

.toast .ui.basic.label {
  border-color: $blue-grey-9;
  border-right: 0;
  cursor: initial;
}

.toast .ui.basic.label:hover {
  border-color: $blue-grey-9;
  border-right: 0;
  background-color: $white;
  cursor: initial;
}

.toast .ui.button {
  border: 1px solid $blue-grey-9;
}

/* Message */

.ui.warning.message {
  background-color: hsl(45, 100%, 96%);
  box-shadow: 0 0 0 1px hsl(43, 90%, 76%) inset;
  color: hsl(43, 77%, 27%);
}

.ui.warning.message .header {
  color: hsl(43, 86%, 17%);
}
