/* Global */

body {
  background-color: hsl(216, 33%, 97%) !important;
  color: hsl(209, 20%, 25%);
}

/* Sticky Footer */

html,
body,
#root {
  height: 100%;
}

#root {
  border-top: 3px solid hsl(214, 15%, 91%);
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* Service Worker Toast Message */

#worker {
  bottom: 1rem;
  position: fixed;
  width: 100%;
}

#worker > *:first-child {
  margin: 0 auto;
}

.ui.button.toast {
  cursor: initial;
}

.toast .ui.basic.label:hover {
  background-color: hsl(0, 0%, 100%);
  cursor: initial;
}

/* Message */

.ui.warning.message {
  background-color: hsl(49, 100%, 96%);
  box-shadow: 0 0 0 1px hsl(48, 95%, 76%) inset, 0 0 0 0 rgba(0, 0, 0, 0);
  color: hsl(22, 82%, 39%);
}

.ui.warning.message .header {
  color: hsl(15, 86%, 30%);
}

/* Hero Swap Button */

.hero .ui.tertiary.button {
  box-shadow: inset 0 -0.12em 0 hsl(214, 15%, 91%);
}

.hero .ui.tertiary.button:active {
  box-shadow: inset 0 -0.12em 0 hsl(211, 13%, 65%);
}

.hero .ui.tertiary.button:focus,
.hero .ui.tertiary.button:hover {
  background: none;
  box-shadow: inset 0 -0.12em 0 hsl(209, 14%, 37%);
  color: hsl(0, 0%, 20%);
}

.hero .ui.tertiary.button {
  margin: 0 0.3rem !important;
  padding: 0.1rem !important;
}

/* Search */

.ui.input,
.ui.input > input {
  color: hsl(209, 20%, 25%);
}

.ui.input > input {
  border: 1px solid hsl(214, 15%, 91%);
}

.ui.input > input:focus {
  border-color: hsl(208, 88%, 62%);
}

.ui.input > input::placeholder {
  color: hsl(211, 13%, 65%);
  font-size: 1.3rem;
  letter-spacing: 0.01em;
}

.ui.input > input:focus {
  color: hsl(209, 14%, 37%);
}

.searchbar {
  margin-bottom: 0.1rem;
}

/* Link */

p > a,
.word-of-the-day {
  color: hsl(209, 14%, 37%) !important;
  font-weight: bold;
}

p > a:hover,
.word-of-the-day:hover {
  text-decoration: underline;
}

/* BG Color */

.bg-white {
  background-color: hsl(0, 0%, 100%) !important;
}

/* About */

.about .row {
  padding-bottom: 0.5rem !important;
  padding-top: 0 !important;
}

/* Header */

.ui.header {
  color: hsl(210, 24%, 16%);
}

.ui.header .sub.header {
  color: hsl(211, 12%, 43%);
}

.ui.tabular.menu .item {
  color: hsl(211, 12%, 43%);
  font-size: 1rem;
}

.ui.tabular.menu .active.item {
  color: hsl(209, 20%, 25%);
  font-size: 1rem;
}

.ui.tabular.menu .item:hover {
  color: hsl(209, 18%, 30%);
  cursor: pointer;
}

.ui.tabular.menu .item:active {
  outline: none;
}

.ui.top.attached.header {
  background-color: hsl(0, 0%, 100%);
  color: hsl(211, 12%, 43%);
  font-size: 1rem;
  padding: 0.81em 1.5em;
}

.ui.attached.header {
  border: 1px solid hsl(214, 15%, 91%);
}

/* Menu */

.navbar .ui.secondary.menu .fitted.item:first-child {
  padding: 0 0.92857143em 0 0;
}

.navbar .ui.secondary.menu {
  margin-bottom: 0.3rem;
}

.navbar .column > .ui.secondary.menu {
  margin-top: 0.8rem;
}

.ui.menu .item,
.ui.secondary.pointing.menu .active.item {
  color: hsl(210, 24%, 16%);
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid hsl(214, 15%, 91%);
}

.ui.secondary.pointing.menu a.item:active {
  border-color: hsl(211, 13%, 65%);
}

.ui.secondary.pointing.menu .item {
  border-color: hsl(214, 15%, 91%);
}

.ui.secondary.pointing.menu .active.item {
  border-color: hsl(209, 14%, 37%);
}

.ui.tabular.menu {
  background-color: hsl(214, 15%, 91%);
  border-bottom: 1px solid hsl(214, 15%, 91%);
}

.ui.tabular.menu .active.item {
  border: 1px solid hsl(214, 15%, 91%);
}

.ui.tabular.menu .item {
  display: inline;
  flex: 1;
  white-space: nowrap;
}

/* Reach UI Dropdown */

.ui.secondary.menu .ui.dropdown.item {
  margin-bottom: 0.5rem;
}

.ui.secondary.menu .dropdown.item:hover,
.ui.dropdown.item:focus {
  background: hsl(216, 33%, 97%);
}

[data-reach-menu-list] {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(214, 15%, 91%);
  border-radius: 0.28571429rem;
  color: hsl(211, 12%, 43%);
  margin-top: 0.35714286em;
  padding: 0;
}

[data-reach-menu-item] {
  font-size: 1rem;
  padding: 0.67857143em 1em;
}

[data-reach-menu-item][data-selected] {
  background: hsl(216, 33%, 97%);
  color: hsl(209, 18%, 30%);
}

[data-reach-menu-item][data-current='true'] {
  font-weight: bold;
}

/* Segment */

.ui.attached.segment {
  border: 1px solid hsl(214, 15%, 91%);
}

/* Label */

.ui.basic.label {
  border: 1px solid hsl(214, 15%, 91%);
}

.ui.label {
  background-color: hsl(214, 15%, 91%);
  border: 1px solid hsl(214, 15%, 91%);
  color: hsl(211, 12%, 43%);
}

.ui.label:active {
  outline: none;
}

.ui.label:hover {
  background-color: hsl(210, 16%, 82%);
  color: hsl(209, 20%, 25%);
  cursor: pointer;
}

/* List */

.ui.list > .item .header {
  color: hsl(210, 24%, 16%);
}

.listitem {
  font-size: 1.14285714rem;
}

/* Button */

.ui.button {
  background-color: hsl(214, 15%, 91%);
  color: hsl(209, 14%, 37%);
}

.ui.button:focus,
.ui.button:hover {
  background-color: hsl(210, 16%, 82%);
  color: hsl(209, 18%, 30%);
}

.ui.button:active {
  background-color: hsl(211, 13%, 65%);
  color: hsl(209, 20%, 25%);
}

/* Icon */

i.circular.icon {
  box-shadow: 0 0 0 0.1em hsl(214, 15%, 91%) inset;
}

i.circular.icon:hover {
  box-shadow: 0 0 0 0.1em hsl(210, 16%, 82%) inset;
  opacity: 1 !important;
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
}

/* History */

.ui.relaxed.list.history {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 154px));
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
}

.ui.relaxed.list.history .item {
  padding-top: 0 !important;
}

.ui.relaxed.list.history .label {
  font-weight: normal;
}

.ui.relaxed.list.history .label:hover {
  background-color: hsl(216, 33%, 97%);
}
