html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  opacity: 0.6;
}
